*,*::before, *::after {
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    background-image: url("images.css/img/vr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 1.2rem;
    color:black;
    min-height: 100vh;
}
.virtual-learning{
    align-items: center;
    font-size: 1.25em;
    color: rgb(51, 8, 245);
    text-decoration: none;
}
.subheading{
    color: rgb(40, 240, 13);
    margin-left: 1rem;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
}
.main-nav a:hover{
    color: blue;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
.container{
    max-width:1200px ;
    margin: 0 auto;
    padding: 0 40px;
}
.title {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 1rem;
    margin-top: 0;
}
.btn{
    color:white ;
    background-color: blue;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border:none ;
    cursor: pointer;
}
.social-link img{
    width: 1em;
    margin-right:.25rem ;
}
.main-footer{
    list-style: none;
    height: 70px;
    background-color: green;
    font-weight: inherit;
    background-size: cover;
    text-decoration: none;
}
.main-footer .container{
    display:flex;
    justify-content: space-between;
}
.btn:hover{
    background-color:green;
}
.btn:focus{
    background-color: black;
}
.join-form{
    background-color:darkblue;
    align-items: inherit;
    width: 50vw;
    max-width:50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}
.input-group{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.input-group:last-child{
    margin-bottom: 0;
}
.input-group label{
    font-weight: bold;
    margin-bottom: .5rem;
}
.input-group input{
    outline: none;
    background:none;
    border: 1px solid blue;
    font-size: 1em;
    padding: .53em;
    color:white;
    border-radius: 5px;
}
.input-group input:focus{
    border-color:#596da0 ;
}
.join-form{
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
}

    

